body {
	font-family: 'Montserrat', sans-serif;
}

header {
	padding: 60px 0;
	background: #eff0f2;
}

.navbar-logo {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
	padding: 9px 5px 7px;
	border: 6px solid black;
	font-size: 17px;
	letter-spacing: .75px;
	text-shadow: 0px 0px 2px rgba(21, 21, 22, 0.75);
}

.navbar-logo:hover {
	text-decoration: none;
	color: black;
}

.navbar-logo > span {
	letter-spacing: 1px;
	font-size: 21px;
	color: #77efe5;
}

.toggle-menu > span {
	font-size: 21px;
}

.menu-nav {
	display: none;
	padding: 40px 0 10px;
	border-bottom: 1px solid #474747;
}

.menu-ul > li {
	display: inline-block;
	width: 19.7%;
}

.menu-ul > li > a {
	color: black;
	text-transform: uppercase;
	padding: 6px;
}

.menu-ul > li > a:hover {
	color: #b2f2ee;
	font-weight: bold;
	background: black;
	text-decoration: none;
}

.header-main {
	text-align: center;
	padding-bottom: 120px;
}

.text-main {
	font-size: 45px;
	color: rgb(80, 80, 80);
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
	padding: 200px 0 150px;
}

.text-main > span {
	padding: 0 10px;
	background: #b2f2ee;
}

.btn-main {
	padding: 15px 45px;
	background: none;
	border: 1px solid black;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.749);
	text-transform: uppercase;
	line-height: 1.556;
}

.gray {
	background: #f8fafa;
}

section,footer {
	padding: 125px 0;
}

.title {
	text-align: center;
	font-size: 38px;
	font-family: "Montserrat";
	color: rgba(0, 0, 0, 0.902);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 0.737;
}

.title-text {
	text-align: center;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.62);
	text-transform: uppercase;
	font-weight: bold;
	line-height: 2.5;
	font-family: 'Merriweather', serif;
	text-shadow: none;
	margin-bottom: 120px;
}

.off {
	margin-top: 100px;
}

.prev {
	left: 0;
	top: 42px;
	height: 400px;
	width: 390px;
	position: absolute;
	z-index: 1;
}

.next {
	right: 0;
	top: 42px;
	height: 400px;
	width: 390px;
	position: absolute;
	z-index: 1;
}

.pprev {
	left: 90px;
	top: 90px;
	height: 360px;
	width: 320px;
	position: absolute;
	z-index: 0;
}

.curry {
	height: 483px;
	width: 390px;
	left: 55px;
	top: 0;
	position: absolute;
	z-index: 3;
}

.curry img, .prev img, .next img, .pprev img  {
	height: 100%;
	width: 100%;
}

.slider {
	margin: 0 auto;
	display: flex;
	width: 500px;
	height: 540px;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
}

.switch {
	position: absolute;
	left: 223px;
	display: flex;
	bottom: 0;
	height: 20px;
}

.switch > span {
	width: 11px;
	height: 11px;
	border-radius: 5px;
	background: #d0d0d0;
	margin: 0 2px;
}

span.active {
	background: #71f6eb;
}

.about-text {
	padding: 10px 0 0 10%;
	margin-top: 20px;
}

.about-text h4 {
	font-size: 20px;
	font-family: "Merriweather";
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.4;
}

.about-text p {
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	color: rgba(0, 0, 0, 0.741);
	line-height: 1.75;
}

.gridpic {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
	grid-gap: 10px;
}

.picitem img {
	width: 100%;
	height: 100%;
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 15px;
	grid-auto-rows: 370px;
}

.item {
	background-position: center;
	position: relative;
	color: white;
}

.disp {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 100px 0 90px 60px;
}

.item > * {
	position: relative;
}

.item h5 {
	font-size: 20px;
	font-family: "Merriweather";
	opacity: 0.95;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.45;
	margin-bottom: 15px;
}

.item h6 {
	font-size: 19px;
	font-family: "Raleway";
	opacity: 0.769;
	text-transform: uppercase;
	line-height: 4.474;
	position: absolute;
	bottom: 20px;
	left: 60px;
}

.item h6:hover {
	cursor: pointer;
}

.item:hover:before {
	background-color: rgb(0, 0, 0);
	opacity: .85;
}

.item h6 span {
	margin-left: 8px;
	font-size: 16px;
}

.item p {
	font-size: 16px;
	font-family: "Raleway";
	opacity: 0.9;
	line-height: 1.563;
	width: 80%;
}

.item::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(0, 0, 0);
	opacity: .65;
	transition: opacity .5s ease;
}

.item:nth-child(1) {
	grid-column: 1 / 8;
	background-image: url(img/7fr1.png);
}

.item:nth-child(2) {
	grid-column: 8 / 13;
	background-image: url(img/5fr1.png);
}

.item:nth-child(3) {
	grid-column: 1 / 8;
	background-image: url(img/7fr1.png);
}

.item:nth-child(4) {
	grid-column: 8 / 13;
	background-image: url(img/5fr1.png);
}

.item:nth-child(5) {
	grid-column: 1 / 6;
	background-image: url(img/5fr2.png);
}

.item:nth-child(6) {
	background-image: url(img/7fr2.png);
	grid-column: 6 / 13;
}

.item-click {
	width: 100%;
	height: 100%;
	padding: 60px 0 0 60px;
	display: none;
	color: black;
	background: #71f5ea;
}

.item-click p {
	max-height: 40%;
	overflow-y:hidden;
}

.grid-team {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(330px,1fr));
	grid-gap: 10px;
}

.item-team {
	position: relative;
}

.item-team img {
	width: 100%;
	height: 100%;
}

.inv {
	position: absolute;
	bottom: 15px;
	left: 15px;
	right: 15px;
	top: 40%;
	background: #6ff6eb;
	padding: 35px;
	display: none;
}

.inv:before {
	content: '';
	position: absolute;
	border: 20px solid transparent;
    border-bottom: 20px solid #6ff6eb;
    top:-35px;
}

.phrase h4,.inv h4 {
	font-size: 20px;
	font-family: "Merriweather";
	color: rgba(39, 39, 39, 0.949);
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 18px;
	text-transform: uppercase;
}

.phrase h4 span,.inv h4 span {
	position: relative;
	left: 10px;
	font-size: 15px;
	color: #739e9a;
	font-style: italic;
}

.phrase p, .inv p {
	font-size: 16px;
	font-family: "Raleway";
	color: rgba(0, 0, 0, 0.8);
	line-height: 1.5;
}

.inv .social {
	position: absolute;
	bottom: 35px;
}

.social .fa {
	color: #214946;
}

.fa-star {
	color: #f2da3b;
}

.stars {
	width: 80px;
	margin: 0 auto;
}

.arrows {
	margin-left: 77%;
	margin-top: 15px;
}

.arrows span {
	font-size: 15px;
	padding: 13px;
	box-shadow:;
	color: #b2b2b2;
	box-shadow: 0px 8px 11px 0px rgba(20, 20, 21, 0.05);
	margin-left: 10px;
}

.arrows span:hover {
	color: black;
	background: #71f6eb;
	transition: 0.5 ease;
}



.before {
	background:url(img/footer.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}

.before:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(255, 255, 255);
	opacity: .73;
}

.phrase {
	margin-top: 60px;
	background: #eaebed;
	text-align: center;
	padding: 80px 80px 60px;
	display: none;
}

.phrase.active {
	display: block;
}

.formm {
	padding: 30px;
	background-color: rgb(2, 22, 35);
	opacity: 0.71;
	box-shadow: 0px 0px 30px 0px rgba(21, 21, 21, 0.12);
}

.formm p {
	color: white;
	opacity: 0.7;
}

.formm img {
	margin-top: 50px;
	width: 100%;
}

input,textarea {
	color: white;
	margin-bottom: 10px;
	width: 100%;
	font-size: 15px;
	font-family: "Raleway";
	background-color: rgb(2, 22, 35);
	border: none;
	border-bottom: 1px solid #495962;
	line-height: 3.4;
}

.button {
	background-color: rgb(2, 22, 35, 0.71);
	padding: 30px 0 30px 30px;
	margin-bottom: 40px;
}

.button button {
	font-size: 18px;
	font-family: "Montserrat";
	color: black;
	text-transform: uppercase;
	line-height: 1.556;
	background: #6eeee4;
	width: 250px;
	height: 50px;
	border: none;
	font-weight: 600;
	letter-spacing: 1px;
}

footer {
	background: #262b2e;
	text-align: center;
}

footer h6 {
	font-size: 16px;
	text-transform: uppercase;
	font-family: "Raleway";
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 20px;
}
footer p {
	margin-top: 37px;
	font-size: 16px;
	font-family: "Raleway";
	color: rgba(255, 255, 255, 0.4);
}

footer a.fa {
	font-size: 22px;
	margin: 0 3px;
	padding: 8px;
	text-decoration: none;
	color: #bbb8b9;
	width: 40px;
	height: 40px;
	background: #424648;
}

footer a:hover {
	background: #6eeee4;
	color: #070e0d;
}
